.card {
    width: 100% !important;
}
.code-arrow {
    -moz-transition: transform 1s;
    -webkit-transition: transform 1s;
    transition: transform 1s;
}

.flip {
    transform: rotate(-180deg);
}

.container {
    padding-top: 54px !important;
}

.sticky-nav {
    position: fixed;
    z-index: 10000;
    top: 0;
    width: 100%;
    left: 0;
}

.login-btn {
    width: 100%;
    margin-top: 30px !important;
}