{% include 'head.html' %}

<script>
    hljs.initHighlightingOnLoad();
    // web3.js request all PoCs using logged in account's address
</script>

<body>
    {% include 'nav.html' %}
    <div class="ui container">
        <div>
            <div class="ui cards">
                {% for poc in pocs %}
                    <div class="card">
                        <div class="content">
                                <div class="header">
                                    <!-- title -->
                                    {{ poc[8] }}
                                </div>
                                <div class="description">
                                    <div class="ui list">
                                        <div class="item">
                                            <i class="user circle icon"></i>
                                        <div class="content">
                                            <!-- author -->
                                            <b>Author:</b>
                                            {{ poc[1] }}
                                        </div>
                                        </div>
                                        <div class="item">
                                            <i class="bug icon"></i>
                                        <div class="content">
                                            <!-- CVE -->
                                            <b>CVE:</b> {{ poc[6] }}
                                        </div>
                                        </div>
                                        <div class="item">
                                            <i class="tag icon"></i>
                                            <div class="content">
                                                <!-- Exploit type -->
                                                <b>Type:</b> {{ poc[7] }}
                                            </div>
                                        </div>

                                        <div class="item">
                                            <i class="exclamation circle icon"></i>
                                            <div class="content">
                                                <!-- Severity -->
                                                <b>Severity:</b> {{ poc[5] }}
                                            </div>
                                        </div>

                                        <div class="item">
                                            <i class="check circle icon"></i>
                                            <div class="content">
                                                <!-- Verified -->
                                                {% if poc[9] %}
                                                    <b>Verified:</b> yes
                                                {%  else %}
                                                    <b>Verified:</b> no
                                                {% endif %} 
                                            </div>
                                        </div>

                                        <div class="item">
                                            <i class="code icon"></i>
                                            <div class="content">
                                                <!-- language -->
                                                <b>Language:</b> {{ poc[3] }}
                                            </div>
                                        </div>
                                        
                                        <div class="ui divider"></div>

                                        <div class="item" style="cursor:pointer;" onclick="return viewCode('{{ poc[0] }}');">
                                            <i class="chevron down icon code-arrow" id="code-arrow-{{ poc[0] }}"></i>
                                            <div class="content">
                                                <!-- Code -->
                                                <b>Code</b>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            <div class="description code transition hidden" id="code-{{ poc[0]}}">
                                <pre><code class="{{ poc[3] }}">
{{ poc[2] | base64_decode }}
                                </code></pre>
                            </div>
                        </div>
                        <div class="extra content">
                            <div class="ui buttons" style="width: 100%;">
                                {% if poc[9] or user_address in poc[10] %}
                                <div class="ui green disabled button" id="verify_btn_{{poc[0]}}"> <i class="check circle icon"></i> Verify</div>
                                {% else  %}
                                <div class="ui green button" id="verify_btn_{{poc[0]}}" onclick='return verifyRequest({{poc[0]}})'> <i class="check circle icon"></i> Verify</div>
                                {% endif %}
                                <div class="or"></div>
                                <div class="ui button" id="donate_btn" onclick="return show_donate_modal('{{poc[1]}}')"><i class="ethereum icon"></i> Donate</div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="ui mini modal" id="verify_modal">
        <div class="header">
            <span id="modal_status"></span>
        </div>
        <div class="content" id="modal_message">
        </div>
        <div class="actions">
            <div class="ui ok button" onclick="window.location.reload();">
              <i class="checkmark icon"></i>
              Ok
        </div>
    </div>

    <div class="ui modal" id="donate_modal">        
        <div class="header"id="donate_modal_header">
            Make a donation to <span id="recipient"></span>
        </div>
        <div class="content">
            <form class="ui form segment" action="javascript:void(0)" method="">
                <div class="field">
                    <label>Amount</label>
                    <input type="number" name="amount" id="donation_amount" placeholder="Amount">
                </div>
                <button class="ui primary button login-btn" onclick="return donate($('#donation_amount').val())">Donate</button>
            </form>
        </div>
        <div class="actions">
            <div class="ui basic cancel button">
              <i class="remove icon"></i>
              Close
            </div>
        </div>
    </div>

    <div class="ui mini modal" id="donate_result_modal">
        <div class="header">
            <span id="donate_result_status"></span>
        </div>
        <div class="content" id="donate_result_message">
        </div>
        <div class="actions">
            <div class="ui ok button">
              <i class="checkmark icon"></i>
              Ok
            </div>
        </div>
    </div>

    <script>
        $('#home').addClass('active')
        $('.ui.dropdown').dropdown();

        function viewCode(poc_id) {
            $('#code-'+poc_id).transition('slide down')
            $("#code-arrow-"+poc_id).toggleClass('flip');
        }

        function verifyRequest(poc_id) {
            $.ajax({
                url: "/verify",
                type: "post",
                data: {
                    pocid: poc_id,
                },
                success: function(response) {
                    if (response.error) {
                        $("#modal_status").text("Verify failed")
                    } else {
                        $("#modal_status").text("Verify successful")
                        $("#verify_btn_"+poc_id).addClass('disabled')
                    }
                    $("#modal_message").text(response.message)
                    $('#verify_modal').modal('show');
                },
            });
            return true;
        }

        function show_donate_modal(recipient) {
            $('#recipient').text(recipient)
            $('#donate_modal').modal('show')
        }

        function donate(amount) {
            $.ajax({
                url: "/donate",
                type: "post",
                data: {
                    amount: amount,
                    recipient: $("#recipient").text()
                },
                success: function(response) {
                    if (response.error) {
                        $("#donate_result_status").text("Donation failed")
                    } else {
                        $("#donate_result_status").text("Donation successful")
                    }
                    $("#donate_result_message").text(response.message)
                    $('#donate_result_modal').modal('show');
                },
            });
            return true;
        }
    </script>
</body>
</html>