{% include 'head.html' %}
<body>
    {% include 'nav.html' %}
    
    <div class="ui container" style="display: flex;align-items: center;justify-content: center;height: 100%; flex-direction:column;">
        <div class="ui segment" style="width: 35em;">
            <div class="ui message">
                <div class="header">
                    Buy BATokens
                </div>
                <p>A BAToken costs 0.002 <i class="ethereum icon"></i></p>
            </div>
            <form class="ui form segment" action="/mint" method="post">
                <div class="field">
                    <label>Value</label>
                    <input type="number" name="value" step="0.001" placeholder="Value">
                </div>
                <button class="ui primary button login-btn" type="submit">Buy</button>
            </form>
        </div>
    </div>
</body>
</html>