<div class="ui menu sticky-nav" id="navbar">
    <a class="item" id="home" href="/">
        PoCs
    </a>
    <a class="item" id="publish" href="/publish">
        Publish
    </a>
    <div class="right menu">
        <div class="ui item">
            <i class="check circle icon"></i>
            <b>Verify Cost: </b> 
            <span style="margin-left: 5px;" id="verify-cost"></span>
        </div>
        <a class="item" href="javascript:void(0)" onclick="$('#mint_modal').modal('show')">
            <i class="ethereum icon"></i> 
            <b>Balance: </b> 
            <span style="margin-left: 5px;" id="balance"></span>
        </a>
        <div class="ui right dropdown item">
            <i class="user circle icon"></i>
            <b>{{username}}</b>
            <i class="dropdown icon"></i>
            <div class="menu transition hidden">
                <div class="item">
                    <a href="/logout" style="color: inherit;">
                        <i class="sign-out icon"></i> Logout
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui modal" id="mint_modal">        
    <div class="header">
        Buy BATokens
    </div>
    <div class="content">
        <p>A BAToken costs 0.002 <i class="ethereum icon"></i></p>
        <form class="ui form segment" action="javascript:void(0)" method="">
            <div class="field">
                <label>Value</label>
                <input type="number" name="amount" id="mint_amount" step="0.001" placeholder="Amount">
            </div>
            <button class="ui primary button login-btn" onclick="return mint($('#mint_amount').val())">Buy</button>
        </form>
    </div>
    <div class="actions">
        <div class="ui basic cancel button">
          <i class="remove icon"></i>
          Close
        </div>
      </div>
</div>
<div class="ui mini modal" id="balance_message_modal">
    <div class="header">
        <span id="balance_modal_status"></span>
    </div>
    <div class="content" id="balance_modal_message">
    </div>
    <div class="actions">
        <div class="ui ok button">
          <i class="checkmark icon"></i>
          Ok
        </div>
    </div>
</div>

<script>
    var contractABI = JSON.parse('{{ contract_abi | tojson | safe}}')
    var contractAddress = "{{contract_address}}"
    var userAddress = "{{user_address}}"

    if (typeof web3 !== 'undefined') {
        web3 = new Web3(web3.currentProvider)
    } else {
        web3 = new Web3(new Web3.providers.HttpProvider('http://127.0.0.1:8545'))
    }

    var contract = new web3.eth.Contract(contractABI, contractAddress)

    $(document).ready(
        function verifyCostUpdate() {
            var verCost
            contract.methods.verifyCost().call(function(err, result) {
                $('#verify-cost').text(result)
            })

            setTimeout(verifyCostUpdate, 500);
        }
    )

    $(document).ready(
        function balanceUpdate() {
            contract.methods.balance(userAddress).call(function(err, result) {
                $('#balance').text(result)
            })
            setTimeout(balanceUpdate, 500);
        }
    )
</script>

<script src="{{ url_for('static', filename='js/nav.js') }}" ></script>