<div class="ui menu sticky-nav" id="navbar">
    <a class="item" id="home" href="/">
        PoCs
    </a>
    <a class="item" id="publish" href="/publish">
        Publish
    </a>
    <div class="right menu">
        <div class="ui item">
            <i class="check circle icon"></i>
            <b>Verify Cost: </b> 
            <span style="margin-left: 5px;" id="verify-cost">10</span>
        </div>

        <div class="ui item">
            <i class="ethereum icon"></i> 
            <b>Balance: </b> 
            <span style="margin-left: 5px;" id="balance">{{ balance }}</span>
        </div>

        <div class="ui right dropdown item">
            <i class="user circle icon"></i>
            <b>{{username}}</b>
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="item">
                    <a href="/logout" style="color: inherit;">
                        <i class="sign-out icon"></i> Logout
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    if (typeof web3 !== 'undefined') {
        web3 = new Web3(web3.currentProvider)
    } else {
        web3 = new Web3(new Web3.providers.HttpProvider('http://ganache:8545'))
    }

    var contractABI = "{{contract_abi}}"
    var contractAddress = "{{contract_address}}"

    $(document).ready(
        function verifyCostUpdate() {
            console.log("{{address}}")
            var verifyCost = Math.round(Math.random()*100)
            $('#verify-cost').text(verifyCost)

            setTimeout(verifyCostUpdate, 1000);
        }
    )

    $(document).ready(
        function balanceUpdate() {
            // ajax request to blockchain
            console.log("{{address}}")
            var balance = Math.round(Math.random()*100)
            $('#balance').text(balance)

            setTimeout(balanceUpdate, 1000);
        }
    )


</script>