<div class="ui menu sticky-nav" id="navbar">
    <a class="item" id="home" href="/">
        PoCs
    </a>
    <a class="item" id="publish" href="/publish">
        Publish
    </a>
    <div class="right menu">
        <div class="ui item">
            <i class="check circle icon"></i>
            <b>Verify Cost: </b> 
            <span style="margin-left: 5px;" id="verify-cost"></span>
        </div>

        <div class="ui item">
            <i class="ethereum icon"></i> 
            <b>Balance: </b> 
            <span style="margin-left: 5px;" id="balance"></span>
        </div>

        <div class="ui right dropdown item">
            <i class="user circle icon"></i>
            <b>{{username}}</b>
            <i class="dropdown icon"></i>
            <div class="menu">
                <div class="item">
                    <a href="/mint" style="color: inherit;">
                        <i class="ethereum icon"></i> Buy BAToken
                    </a>
                </div>
                <div class="item">
                    <a href="/logout" style="color: inherit;">
                        <i class="sign-out icon"></i> Logout
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    var contractABI = JSON.parse('{{ contract_abi | tojson | safe}}')
    var contractAddress = "{{contract_address}}"
    var userAddress = "{{user_address}}"

    if (typeof web3 !== 'undefined') {
        web3 = new Web3(web3.currentProvider)
    } else {
        web3 = new Web3(new Web3.providers.HttpProvider('http://ganache:8545'))
    }

    var contract = new web3.eth.Contract(contractABI, contractAddress)

    $(document).ready(
        function verifyCostUpdate() {
            var verCost
            contract.methods.verifyCost().call(function(err, result) {
                $('#verify-cost').text(result)
            })

            setTimeout(verifyCostUpdate, 500);
        }
    )

    $(document).ready(
        function balanceUpdate() {
            contract.methods.balance(userAddress).call(function(err, result) {
                $('#balance').text(result)
            })
            setTimeout(balanceUpdate, 500);
        }
    )


</script>